.cabecalho{
    background-color: #383D58;
    color: white;
    display:flex;
    justify-content: space-around;


    }
    .cabecalho-lista-item{
         display: inline-block;
         margin: 0 16px;
         padding: 24px  0;
         font-size: 24px;


    }
    .cabecalho-imagem{
        background-color: #606aca;

        width: 20%;
    }


    
 
.escola-imagem{
    width:25%;
}
.escola {
    background-image: linear-gradient();
    
}

    .escola {
        background-image: linear-gradient(#383D58);
        }

        .escola {
            background-image: linear-gradient(#606aca,#0b6479);
            }
            .escola{background-image: linear-gradient(#606aca,#6890c5);
                color: white;
                display:flex;
                justify-content: center;
                align-items: center;
                padding: 24px 0;
                            
            }
            .escola-conteudo{
                width: 35%;
                }
                .escola-titulo {
                    padding: 24px 0;
                    }
            .estudante-imagem{

                width: 120px;

            }
            .estudante-icone{

                width:24px;

            }
            .estudante-div{
                text-align: center;


            }